* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background-image: url("../assets/idea2.jpg");
}
.content-wrap {
  width: 45%;
  float: left;
}
.content-wrap-home {
  width: 100%;

}
.welcome {
  text-align: center;
  margin-top: 40px;
  margin-left: 500px;

}
.welcome h2 {
  font-family: "Palatino Linotype";
  padding: 10px;
  font-size: 50px;
  color:  white;
  letter-spacing: 1px;
}
.welcome p {
  font-family: "Trebuchet MS";
  font-size: 30px;
  color: white;
}

.header {
  width: 40%;
  margin-top: 330px;
  margin-left: 100px;
  color: white;
  background: #1C1B20;
  text-align: center;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.header-create-user, .header-add-questions, .header-quiz, .header-final {
 width: 40%;
  margin: auto;
  margin-top: 100px;
  color: white;
  background: #1C1B20;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.header-quiz, .header-final h1 {
  text-align: center;
}

.header-home {
  width: 65%;
  margin: auto;
  margin-top: 100px;
  color: white;
  background: #1C1B20;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.header-home, .header-create-user, .header-add-questions, .header-quiz, .header-final, .content-final h2, p{
  text-align: center;
}
.header-admin-home {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  color: white;
  background: #1C1B20;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
.header-admin-home h2 {
  text-align: center;
  padding: 10px;
}
form, .content, .content-final {
  width: 40%;
  margin-left: 100px;
  padding: 20px;
  border: 1px solid black;
  background:   white;
  border-radius: 0px 0px 10px 10px;
}
.create-user, .form-add_questions, .content-quiz  {
  margin: auto;
}
.content-final {
  margin: auto;
}

.content-final p {
  margin-top: 20px;
  font-size: 25px;
}
.header-quiz {
  width: 70%;
}

.content-quiz form {
  width: 70%;
  height: 400px;
}
.content-home {
  width: 65%;
   display: flex;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.content-admin-home {
  width: 40%;
   display: flex;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  background: white;
    
  border-radius: 0px 0px 10px 10px;
}
.admin-home-task {
 margin-top: 20px;
 margin-left: 100px;
}
.admin-task-ul {
  list-style-type: square;
}
.admin-task-ul li {
  padding: 10px;
}

form p a {
  color: blue;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  font-size: 20px;
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.input-group-home a {
  margin-top: 50px;
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #1C1B20;
  border: none;
  border-radius: 5px;
}
.input_group p {
  font-size: 50px;
}
.input-group-home p {
  text-align: justify;
  padding: 10px;
}
.input-group-home table {
margin-left: 30px;
margin-right: 30px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.input-group-home table tr td {
  border-bottom: solid 1px;
}
.input-group-home table tr:last-child td {
  border-bottom: none;
}

.input-group-home td {
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.image {
  width: 45%;
  float: right;
}

.image img {
   margin-top: 200px;
  width: 800px;
  height: 600px;
}
#user_type {
  height: 40px;
  width: 98%;
  padding: 5px 10px;
  background: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.start {
  margin-bottom: 50px;
  margin-left: 800px;
}
.start a {
  padding: 10px;
  font-size: 20px;
  color: white;
  background: #1C1B20;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

.admin-start {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
}
.admin-start a {

  padding: 10px;
  font-size: 20px;
  color: white;
  background: #1C1B20;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

.final-start {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 320px;
}
.final-start a {

  padding: 10px;
  font-size: 20px;
  color: white;
  background: #1C1B20;
  border: none;
  text-decoration: none;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #1C1B20;
  border: none;
  border-radius: 5px;
}
.btn-next {
  padding: 10px;
  text-align: center;
  margin-left: 600px;
  margin-top: 30px;
  font-size: 18px;
  color: white;
  background: #1C1B20;
  border: none;
  border-radius: 5px;
}


}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.profile_info img {
  display: inline-block; 
  width: 50px; 
  height: 50px; 
  margin: 5px;
  margin-top: 20px;
  float: left;
}
.profile_info div {
  display: inline-block; 
  
    margin-top: 20px;
}

.profile_info:after {
  content: "";
  display: block;
  clear: both;
}
.question {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 27px;
  text-align: center;
}

input[type='radio'] { 
  margin-right: 15px;
  transform: scale(1.5); 
}

.answers li {
  margin-left: 30px;
  text-align: justify;
  font-size: 25px;
  padding: 20px;
}
ul {
  list-style-type: none;
}
